run = "npm run dev"
modules = ["nodejs-20"]
hidden = [".config", "tsconfig.json", "tsconfig.node.json", "vite.config.js", ".gitignore"]
entrypoint = "src/App.tsx"

[nix]
channel = "stable-24_05"
packages = ["libxcrypt"]

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[[ports]]
localPort = 5173
externalPort = 80

[workflows]
runButton = "Run Full Stack"

[[workflows.workflow]]
name = "Run Full Stack"
author = 1322069
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python3 main.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
